## Sentiment Analysis: Model Training and Predictions

This notebook walks through the process of training sentiment analysis models for different sources and making predictions

In [4]:
# Import neccessary libraries

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import joblib
import os

In [6]:
# Downlode necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to C:\Users\Vandit
[nltk_data]     sharma\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to C:\Users\Vandit
[nltk_data]     sharma\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt_tab to C:\Users\Vandit
[nltk_data]     sharma\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [21]:
#Load the datasets

train_data = pd.read_csv("D:/NLP Sentiment Analysis/data/twitter_training.csv", names=['serial_number',"Source","Sentiment","Text"])
val_data = pd.read_csv("D:/NLP Sentiment Analysis/data/twitter_validation.csv", names=['serial_number',"Source","Sentiment","Text"])

In [27]:
print(f"Training data shape: {train_data.shape}")
display(train_data.head())

Training data shape: (74682, 4)

   serial_number  ...                                               Text
0           2401  ...  im getting on borderlands and i will murder yo...
1           2401  ...  I am coming to the borders and I will kill you...
2           2401  ...  im getting on borderlands and i will kill you ...
3           2401  ...  im coming on borderlands and i will murder you...
4           2401  ...  im getting on borderlands 2 and i will murder ...

[5 rows x 4 columns]

In [25]:
print(f"validation data shape: {val_data.shape}")
display(val_data.head())

validation data shape: (1000, 4)

   serial_number  ...                                               Text
0           3364  ...  I mentioned on Facebook that I was struggling ...
1            352  ...  BBC News - Amazon boss Jeff Bezos rejects clai...
2           8312  ...  @Microsoft Why do I pay for WORD when it funct...
3           4371  ...  CSGO matchmaking is so full of closet hacking,...
4           4433  ...  Now the President is slapping Americans in the...

[5 rows x 4 columns]

In [28]:
train_data.columns

Index(['serial_number', 'Source', 'Sentiment', 'Text'], dtype='object')